@font-face {
  font-family: "Barlow";
  src: url("/src/fonts/Barlow-Medium-webfont.woff");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow";
  background-color: #eff6ff;
  padding: 30px;
  height: 100vh;
  color: #2a4a5c;
}

a {
  color: #3698fb;
}

//App
.container {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__logo {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 200px;
    height: auto;
  }
}

.main-section {
  width: 100%;
  margin: 50px;

  h1 {
    margin-bottom: 10px;
  }
  &__register-with-social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}

//Base objects can be used anywhere
.base-input {
  height: 40px;
  width: 100%;
  max-width: 300px;
  height: 20px;
  margin-bottom: 10px;
  position: relative;

  &__label {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px;
    color: #96a5b1;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 2px;
    border: 1px solid #eeeeee;
    transition: border 0.7s ease;
    &:focus {
      outline: none;
      border-left: 2px solid #3698fb;
      transition: border 0.7s ease;
    }

    &:valid {
      border-left: 2px solid #3698fb;
    }
    &::placeholder {
      color: #96a5b1;
    }
  }

  @media screen and (min-width: 860px) {
    width: 45%;
    height: 50px;
    &__label {
      display: block;
    }
    &__input {
      padding: 20px 6px 0px;
      &::placeholder {
        color: white;
      }
    }
  }
}

.base-register-form {
  &__contacts {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 860px) {
    &__contacts {
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__investor-type {
    &__options {
      margin-bottom: 15px;
    }
    &__info {
      border: 1px solid #eeeeee;
      color: #96a5b1;
      width: 100%;
      padding: 10px;
      margin-bottom: 25px;
      box-shadow: 10px 5px 10px #eeeeee;
    }
    @media screen and (min-width: 860px) {
      &__options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      &__info {
        width: 45%;
      }
    }
  }

  &__terms {
    margin-bottom: 25px;
  }
}

.base-caption {
  margin-bottom: 25px;
  &__header {
    margin-bottom: 10px;
  }
}

.base-button {
  border: none;
  width: 45%;
  max-width: 300px;
  height: 40px;
  position: relative;
  background-color: #3698fb;
  color: white;
  cursor: pointer;

  &:active {
    transform: translate(2px, 2px);
    transition: all 0.1s ease;
  }

  &_facebook {
    background-color: #255a9b;
  }

  &_in {
    background-color: #0076b6;
  }

  &__image {
    position: absolute;
    left: 1%;
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
    }
  }
  @media screen and (max-width: 1200px) {
    &__image {
      display: none;
    }
  }
}

.base-radiobutton {
  display: flex;
  align-items: center;
  background-color: none;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + label::before {
      border-color: #3698fb;
      background-color: #3698fb;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%23fff'/%3e%3c/svg%3e");
    }

    &:hover + label::before {
      border-color: #3698fb;
      background-color: #3698fb;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%23fff'/%3e%3c/svg%3e");
      transition: background-color 0.7s ease;
    }
    + label {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      user-select: none;
    }
  }
  &__label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #96a5b1;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: background-color 0.7s ease;
  }
}

.base-checkbox {
  display: flex;
  align-items: center;
  background-color: none;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    + label {
      cursor: pointer;
      user-select: none;

      &::before {
        content: "";
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #96a5b1;
        border-radius: 0.25em;
        margin-right: 0.2em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        transition: background-color 0.7s ease;
      }
    }

    &:checked + label::before {
      border-color: #3698fb;
      background-color: #3698fb;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      transition: background-color 0.7s ease;
    }
  }
}
.base-separator {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  &__text {
    margin: auto 10px;
  }

  &:before,
  &:after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #eeeeee;
    margin: auto 0;
  }
}

.base-info {
  height: 10px;
  width: 10px;
  border: 1px solid black;
  font-size: 8px;
  border-radius: 9px;
  text-align: center;
  margin: 5px;
  position: relative;

  &__text {
    opacity: 0;
    font-size: 12px;
    position: absolute;
    border: 1px solid #eeeeee;
    padding: 5px;
    background-color: white;
    top: -50%;
    left: 20px;
    width: 100px;
    box-shadow: 10px 5px 10px #eeeeee;
    transition: opacity 0.3s ease;
  }

  @media screen and (min-width: 860px) {
    &__text {
      opacity: 0;
      font-size: 12px;
      position: absolute;
      border: 1px solid #eeeeee;
      padding: 5px;
      background-color: white;
      top: calc(100% + 5px);
      left: -50px;
      width: 100px;
      box-shadow: 10px 5px 10px #eeeeee;
      transition: opacity 0.3s ease;
    }
  }

  &::after {
    content: "i";
  }

  &:hover {
    .base-info__text {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }
}
